# Target Config
CONFIG_TARGET_sunxi=y
CONFIG_TARGET_sunxi_cortexa7=y
CONFIG_TARGET_sunxi_cortexa7_DEVICE_xunlong_orangepi-one=y
CONFIG_TARGET_sunxi_cortexa7_DEVICE_lamobo_lamobo-r1=y
CONFIG_TARGET_sunxi_cortexa7_DEVICE_cubietech_cubieboard2=y
CONFIG_TARGET_sunxi_cortexa7_DEVICE_cubietech_cubietruck=y
CONFIG_TARGET_sunxi_cortexa7_DEVICE_friendlyarm_nanopi-m1-plus=y
CONFIG_TARGET_sunxi_cortexa7_DEVICE_friendlyarm_nanopi-neo=y
CONFIG_TARGET_sunxi_cortexa7_DEVICE_friendlyarm_nanopi-neo-air=y
CONFIG_TARGET_sunxi_cortexa7_DEVICE_friendlyarm_nanopi-r1=y
CONFIG_TARGET_sunxi_cortexa7_DEVICE_friendlyarm_zeropi=y
CONFIG_TARGET_sunxi_cortexa7_DEVICE_lemaker_bananapi=y
CONFIG_TARGET_sunxi_cortexa7_DEVICE_lemaker_bananapro=y
CONFIG_TARGET_sunxi_cortexa7_DEVICE_linksprite_pcduino3=y
CONFIG_TARGET_sunxi_cortexa7_DEVICE_linksprite_pcduino3-nano=y
CONFIG_TARGET_sunxi_cortexa7_DEVICE_mele_m9=y
CONFIG_TARGET_sunxi_cortexa7_DEVICE_olimex_a20-olinuxino-lime=y
CONFIG_TARGET_sunxi_cortexa7_DEVICE_olimex_a20-olinuxino-lime2=y
CONFIG_TARGET_sunxi_cortexa7_DEVICE_olimex_a20-olinuxino-lime2-emmc=y
CONFIG_TARGET_sunxi_cortexa7_DEVICE_olimex_a20-olinuxino-micro=y
CONFIG_TARGET_sunxi_cortexa7_DEVICE_sinovoip_bananapi-m2-berry=y
CONFIG_TARGET_sunxi_cortexa7_DEVICE_sinovoip_bananapi-m2-ultra=y
CONFIG_TARGET_sunxi_cortexa7_DEVICE_sinovoip_bananapi-m2-plus=y
CONFIG_TARGET_sunxi_cortexa7_DEVICE_xunlong_orangepi-2=y
CONFIG_TARGET_sunxi_cortexa7_DEVICE_xunlong_orangepi-pc=y
CONFIG_TARGET_sunxi_cortexa7_DEVICE_xunlong_orangepi-pc-plus=y
CONFIG_TARGET_sunxi_cortexa7_DEVICE_xunlong_orangepi-plus=y
CONFIG_TARGET_sunxi_cortexa7_DEVICE_xunlong_orangepi-r1=y
CONFIG_TARGET_sunxi_cortexa7_DEVICE_xunlong_orangepi-zero=y

#
# Boot Loaders
#
CONFIG_PACKAGE_u-boot-A20-OLinuXino-Lime=y
CONFIG_PACKAGE_u-boot-A20-OLinuXino-Lime2=y
CONFIG_PACKAGE_u-boot-A20-OLinuXino-Lime2-eMMC=y
CONFIG_PACKAGE_u-boot-A20-OLinuXino_MICRO=y
CONFIG_PACKAGE_u-boot-Bananapi=y
CONFIG_PACKAGE_u-boot-Bananapi_M2_Ultra=y
CONFIG_PACKAGE_u-boot-Bananapro=y
CONFIG_PACKAGE_u-boot-Cubieboard2=y
CONFIG_PACKAGE_u-boot-Cubietruck=y
CONFIG_PACKAGE_u-boot-Lamobo_R1=y
CONFIG_PACKAGE_u-boot-Linksprite_pcDuino3=y
CONFIG_PACKAGE_u-boot-Linksprite_pcDuino3_Nano=y
CONFIG_PACKAGE_u-boot-Mele_M9=y
CONFIG_PACKAGE_u-boot-bananapi_m2_berry=y
CONFIG_PACKAGE_u-boot-bananapi_m2_plus_h3=y
CONFIG_PACKAGE_u-boot-nanopi_m1_plus=y
CONFIG_PACKAGE_u-boot-nanopi_neo=y
CONFIG_PACKAGE_u-boot-nanopi_neo_air=y
CONFIG_PACKAGE_u-boot-nanopi_r1=y
CONFIG_PACKAGE_u-boot-orangepi_2=y
CONFIG_PACKAGE_u-boot-orangepi_one=y
CONFIG_PACKAGE_u-boot-orangepi_pc=y
CONFIG_PACKAGE_u-boot-orangepi_pc_plus=y
CONFIG_PACKAGE_u-boot-orangepi_plus=y
CONFIG_PACKAGE_u-boot-orangepi_r1=y
CONFIG_PACKAGE_u-boot-orangepi_zero=y
CONFIG_PACKAGE_u-boot-zeropi=y
# end of Boot Loaders
